:root {
  font-family: roboto, arial, helvetica, sans-serif;
  line-height: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
  font-weight: normal;
}

body {
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  display: flex;
  justify-content: centre;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5ac8fa;
  cursor: pointer;
  transition: border-color 0.25s;
  font-weight: bold;
  max-width: 120px;
}
button:hover {
  border-color: red;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color: black; */
    /* background-color: black; */
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #3882f6;
    color: #ffffff;
  }
}

/* My Styles */
#background {
  background-image: url('./img/fulls/04.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  object-position: 50% 10%;
  /* background-position: center; */
}

#background-nav {
  background-image: url('./img/fulls/02.jpg');
}

#logo {
  max-width: 60px;
  margin-bottom: 20px;
}

.nav {
  color: #f9faf8;
  background-color: #221f20;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  padding-bottom: 20px;
}

.nav-logo {
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
  opacity: 0.8;
  gap: 24px;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

/* * Section: hook */

.hook {
  /* background: black; */
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

.hero {
  font-size: 48px;
  font-style: extra-bold;
}

.left-hook {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  font-size: 18px;
  color: #e5e7eb;
}

.right-hook {
  color: #ffffff;
  display: flex;
  /* justify-items: space-around; */
  align-items: center;
  /* background: black; */
}

.img-hook {
  padding-top: 30px;
  display: flex;
  max-width: 500px;
  height: 700px;
  object-fit: cover;
  object-position: 70%;
}

/* * Section: Information */
.info-container {
  margin: 30px;
  color: black;
  background-color: white;
}

.title {
  margin: 24px;
  padding: 12px;
  font-size: 36px;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 60px;
}

.info {
  max-width: 200px;
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 90px;
}

.info {
  max-width: 200px;
  text-align: center;
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 25px;
}

.info-text {
  padding-top: 20px;
}

/* * Section: Quote section */

.swiper {
  /* max-width: display; */
  height: 300px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.quote {
  font-style: Italic;
  font-weight: light;
  padding: 20px;
  color: #2ca853;
  max-width: 740px;
}

.thor {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: bold;
  color: #ff2a00;
}

.arrows {
  display: flex;
  justify-content: space-between;
}

.arrows-left {
  transform-origin: left center;
  transform: rotate(150deg);
}

/* * Section: Footer */

/* #app {
  display: flex;
  height: 125px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
} */

.section-4 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.app-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  color: #f9faf8;
  width: 800px;
  background: #3882f6;
  border-radius: 15px;
  padding: 30px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
}

.app-button {
  border-color: white;
  font-weight: bold;
}

.app-h1 {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #221f20;
  color: #e5e7eb;
}

#footer-logo {
  width: 60px;
  display: flex;
  justify-content: center;
}
