@import url('https://fonts.googleapis.com/css?family=Cinzel Decorative');

.font {
  font-family: 'Cinzel Decorative';
}

.about {
  background-color: Black;
  display: flex;
  align-items: flex-end;
}

.background-img {
  background-image: url('../img/promo/05.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-img-lg {
  background-image: url('../img/portrait1.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
