@import url('https://fonts.googleapis.com/css?family=Cinzel Decorative');
.hero-main {
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: aliceblue;
  font-family: 'Cinzel Decorative';
}
