#logo {
  max-width: 60px;
  margin-bottom: 20px;
}

.nav {
  color: #f9faf8;
  background-color: #221f20;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  padding-bottom: 20px;
}

.nav-logo {
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
  opacity: 0.8;
  gap: 24px;
  font-size: 1.2rem;
}

.nav-link {
  font-size: 1.2rem;
  color: aqua;
}

ul {
  list-style: none;
}
