body {
  font: 0.7rem sans-serif;
}

h1 {
  margin: 10px;
}

ul#episodes {
  float: left;
  margin: 0 10px;
  padding: 0;
  width: 35%;
}

ul#episodes > li {
  list-style-type: none;
}

button {
  border-radius: 7px;
  border: 0;
  background: #191414;
  color: #fff;
  padding: 10px;
  margin: 0 0 3px 0;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background: #1db954;
}
