@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: roboto, arial, helvetica, sans-serif;
  line-height: 24px;
  background: rgb(0, 0, 0);
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
  font-weight: normal;
}

body {
  margin: 0;
}

/* * Section: Nav */

#logo {
  max-width: 60px;
  margin-bottom: 20px;
}

.nav {
  color: #f9faf8;
  background-color: #221f20;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  padding-bottom: 20px;
}

.nav-logo {
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
  opacity: 0.8;
  gap: 24px;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

/* * Section: hook */

#background {
  background-image: url('./img/fulls/04.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  object-position: 50% 10%;
  /* background-position: center; */
}

#background-nav {
  background-image: url('./img/fulls/02.jpg');
}

.hook {
  /* background: black; */
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

.hero {
  font-size: 48px;
  font-style: extra-bold;
}

.left-hook {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  font-size: 18px;
  color: #e5e7eb;
}

.right-hook {
  color: #ffffff;
  display: flex;
  /* justify-items: space-around; */
  align-items: center;
  /* background: black; */
}

.img-hook {
  padding-top: 30px;
  display: flex;
  max-width: 500px;
  height: 700px;
  object-fit: cover;
  object-position: 70%;
}
